@model User

<div class="text-center">

        <div style="display: flex; flex-direction: column; justify-content: center; color: green">
        <p style="margin-right: 50px">Recent Dishes</p>
        <div style="display: flex; flex-direction: row; justify-content: center; color: green">
        <a asp-controller="Home" asp-action="RegisterPage">Register</a>
        <a asp-controller="Home" asp-action="LoginPage">Login</a>
        </div>
        <hr />
    </div>

    @if (Model != null)
    {
        <p>Hello @Model.FirstName</p>

        <a style="margin: auto" asp-action="Logout" asp-controller="Home"><button>Logout</button></a>

    }
    else
    {
        <p>Hello, Please Register or Sign In</p>
    }

</div>
