@model User

<div class="text-center">
    <div style="display: flex; flex-direction: row; justify-content: center; color: green">

        <p style="margin-right: 50px">Recent Dishes</p>
        <a asp-controller="Home" asp-action="RegisterUser">Register</a>
        <a asp-controller="Home" asp-action="LoginUser">Login</a>
        <hr />
    </div>

    @if (Model != null)
    {
        <p>Hello @Model.FirstName</p>
    }
    else
    {
        <p>Hello, Please Register or Sign In</p>
    }

</div>
