@model DotNet_Login_Reg.Models.LoginUser

<div>
    <div style="display: flex; flex-direction: row; justify-content: center; color: green">
        <h1></h1>
        <p style="margin-right: 50px">Login</p>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <form asp-action="Login" asp-controller="Home">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="text" />

        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="text" />
        <button type="submit">Login</button>
    </form>
</div>